h1{
  color:#393232;
  font-size: 2vw;
}
h2{
  color:#0e0b0b;
  font-size: 3vw;
}
.tour-item-detail-title{
  color: rgb(226, 237, 238);
  font-size: x-large;
}
.tour-item-detail-subtitle{
 color: rgb(41, 218, 234);
 font-size:large 
 }

.cuadricula {
    display: grid;
    height: 100%;
    padding: 1px;
    grid-gap: 1px;
    grid-template-columns: repeat(2, 4fr);
    grid-auto-flow: dense;
    grid-template-rows: repeat (4, 3fr);
     }
  
  .item {
    background: rgb(211, 16, 16);
    color: white;
    padding: 1em;
    width: 500px;
    height: 620 px;
    object-fit: cover;
  }
  .btn-info {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .btn-info:hover {
    background-color: #555;
  }
  
